html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

section {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  overflow: auto;
  /*background-color: yellow;*/
}

.lineup_left {
  width: 30%;
  /*background-color: green;*/
  float: left;
}

.playlist_right {
  width: 70%;
  text-align: left;
  /*background-color: red;*/
  float: left;
}

.generate_div {
  margin-top:10px;
}