html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.generate_div {
  margin-top:10px;
}

.in-spotify {
  color: #454545;
}

.not-on-spotify {
  color: #999999;
}

.lineup-box {
  font-weight: normal;
  text-decoration: none;
  min-height: 45px;
  vertical-align: top;
}

.artist_preview_table {
  border: 1px solid #c5c5c5;
  min-height: 50px;
  margin-bottom:10px;
}

#artist_preview_list {
  margin-bottom: 10px;
}

.preview_list > ul {
  list-style-position: outside;
}

.filter_header {
  text-align: center;
}

/*#sidebar {
  float:right;
  margin: 0 0 0 2em;
  max-height: 100%;
  overflow: auto;
  width: 50em;
  border: dotted 1px #ff0000;
}*/