html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.generate_div {
  margin-top:10px;
}

.in-spotify {
  /*border: 1px solid #c5c5c5;*/
  /*background: #f6f6f6;*/
  font-weight: normal;
  color: #454545;
  text-decoration: none;
  height: 50px;
  vertical-align: middle;
}

.not-on-spotify {
  /*border: 1px solid #c5c5c5;*/
  /*background: #ffffff;*/
  font-weight: normal;
  color: #999999;
  text-decoration: none;
  height: 50px;
  vertical-align: middle;
}

.preview_table {
  border: 1px solid #c5c5c5;
  min-height: 50px;
  margin-bottom:10px;
}

.preview_list > ul {
  list-style-position: outside;
}