{% extends 'base.html' %}

{% block title %}{{ festival_info.festival_name }}{% endblock %}

{% block content %}
  <h1>{{ festival_info.festival_name }}</h1>

  {% if artist_list %}
  <div class="row">
    <div class="col-sm-8">
      <h3>Lineup</h3>
      <div class="row">
        {% for artist in artist_list %}
          {% if artist.artist.spotify_artist_id==None %}
            <div class="col-sm-3 not-on-spotify">
              <span>{{ artist.artist.artist_name }}<br/>(Not on Spotify)</span>
            </div>
          {% else %}
            <div class="col-sm-3 in-spotify">
              <input class="artist_checkbox" type="checkbox" name="artist" value="{{ artist.artist.artist_name }}">
                {{ artist.artist.artist_name }}
              </input>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <div class="col-sm-4">
      <h3>Add to playlist</h3>
      <div class="preview_table">
      </div>
      <button id="playlist_submit" type="button">Preview Playlist</button>
      <button id="playlist_clear" type="button">Clear</button>
    </div>

    <div class="col-sm-4">
      <div class="preview_list" id="playlist_preview">
      </div>
    </div>
  </div>
  {% endif %}

{% endblock %}

